@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

.small{
    font-size: 11px;
    margin-left: 10px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
}
.nav{
    color: orangered !important;
}
.innerDiv{
    display: flex;
}
.left{
    flex: 0.4;
}
.right{
    flex: 0.6;
    padding-left: 20px;
}
.tempInfo{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.weatherIcon{
    flex: 1 100%;
  height: 50%;
  font-family: weathericons;
  font-size: 60px;
}
.lineOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myDiv{
    height: 250px;
    margin-right: 20px;
}

@media(max-width : 901px){
    .myDiv{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.moreButton{
    cursor: pointer;
}
.myDiv{
    background-color: white;
}
.myDivNews{
    background-color: white;
}

@media(max-width:491px){
    .innerDiv{
        flex-direction: column;
    }
    .myDiv{
        height: 430px;
    }
    .right{
        margin-top: 12px;
        padding-left: 0;
    }
    
}